@page "/hustles"

<div class="row p-4">
    @foreach (var hustle in Hustles)
    {
        var url = $"/hustles/{hustle.HustleId}";
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <NavLink href="@url" Match="NavLinkMatch.All" class="text-decoration-none">
                <HustleCard Hustle="@hustle" ShowHustler />
            </NavLink>
        </div>
    }
</div>

@inject DataContext DataContext

@code {
    private Hustle[] Hustles { get; set; } = [];

    protected override void OnInitialized()
    {
        Hustles = DataContext.Hustles.ToArray();
    }
}