@page "/search/promoter"

<div class="container-md">
    <div class="row p-4">
        <div class="col-12 mb-4">
            <h1 class="h2 text-secondary text-center">How do you want to make money?</h1>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/promoter-search.jpg" class="card-img-top" alt="Search hustles"/>
                <div class="card-body">
                    <p class="card-text">
                        Looking to team up with a brand and put your talents to work? 🌟 Browse through Sponsor Hustles and find the perfect match for your skills. There’s bound to be a brand out there that needs your magic touch! 🔍
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/promoter/hustles">Search hustles</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/promoter-create.jpg" class="card-img-top" alt="Create my own hustle"/>
                <div class="card-body">
                    <p class="card-text">
                        Want to showcase exactly what you bring to the table? 💼 Create your own custom Hustle, highlighting your unique talents, and let Sponsors come to you. Set the stage for success and get hired on your terms! 🚀
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/promoter/create">Create my own hustle</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>