@page "/search/start"

<div class="container-md">
    <div class="row p-4"> 
        <div class="col-12 mb-4">
            <h1 class="h2 text-secondary text-center">Where to first?</h1>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/sponsor.jpg" class="card-img-top" alt="Promote my brand"/>
                <div class="card-body">
                    <p class="card-text">
                        Looking to get your brand out there and make some waves? 🌊 Dive into Hustles where you can team up with top Promoters and take your brand to the next level. Let’s find the perfect fit to show off what you’re all about! 🚀
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/sponsor">Promote by brand</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/promoter.jpg" class="card-img-top" alt="Make some money"/>
                <div class="card-body">
                    <p class="card-text">
                        Ready to put your skills to work and earn some cash? 💰 Search for Hustles where you can showcase your talents, promote others, and stack up some serious coin along the way. Let’s get you paid while doing what you love! 🎉
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/promoter">Make some money</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>