@page "/search/sponsor"

<div class="container-md">
    <div class="row p-4">
        <div class="col-12 mb-4">
            <h1 class="h2 text-secondary text-center">How do you want to promote?</h1>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/sponsor-search.jpg" class="card-img-top" alt="Search hustles"/>
                <div class="card-body">
                    <p class="card-text">
                        Ready to find the perfect talent to promote your brand? 🌟 Browse through Promoters’ Hustles and see who’s got the skills to match your vision. There’s a world of talent waiting—let’s see who’s the right fit for you! 👀
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/sponsor/hustles">Search hustles</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <img src="img/sponsor-create.jpg" class="card-img-top" alt="Create my own hustle"/>
                <div class="card-body">
                    <p class="card-text">
                        Got something specific in mind? 🎯 Create your own custom Hustle and lay out exactly what you’re looking for. Build it your way and let Promoters come to you, ready to help your brand shine! 💡
                    </p>
                    <p class="card-text">
                        <a class="btn btn-primary" href="/search/sponsor/create">Create my own hustle</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>