@using System.Text.RegularExpressions
<div class="horizontal-list tight">
    <div class="contact-icon">
        <i class="@Icon"></i>
    </div>
    <div class="contact-value">
        @Value
    </div>
    <div class="contact-verified text-primary">
        @Verified
    </div>
</div>

@code {
    [Parameter] public Contact Contact { get; set; } = Contact.Empty;
    private string Icon { get; set; } = "fa-regular fa-ellipsis";
    private RenderFragment? Value { get; set; }
    private RenderFragment? Verified { get; set; }

    protected override void OnParametersSet()
    {
        Icon = Contact.ServiceName switch
        {
            "Bluesky" => "fa-brands fa-bluesky",
            "Discord" => "fa-brands fa-discord",
            "Email" => "fa-regular fa-envelope",
            "Facebook" => "fa-brands fa-facebook",
            "Fansly" => "fa-regular fa-ellipsis",
            "Flickr" => "fa-brands fa-flickr",
            "Github" => "fa-brands fa-github",
            "Google+" => "fa-brands fa-google-plus",
            "IMDB" => "fa-brands fa-imdb",
            "Instagram" => "fa-brands fa-instagram",
            "Kickstarter" => "fa-brands fa-kickstarter",
            "Kik" => "fa-brands fa-kaggle",
            "LinkedIn" => "fa-brands fa-linkedin",
            "Medium" => "fa-brands fa-medium",
            "Meetup" => "fa-brands fa-meetup",
            "OnlyFans" => "fa-regular fa-ellipsis",
            "OpenId" => "fa-brands fa-openid",
            "Patreon" => "fa-regular fa-patreon",
            "PayPal" => "fa-regular fa-paypal",
            "Phone" => "fa-regular fa-mobile",
            "Pinterest" => "fa-brands fa-pinterest",
            "Playstation" => "fa-regular fa-playstation",
            "Reddit" => "fa-brands fa-reddit",
            "Skype" => "fa-brands fa-skype",
            "Snapchat" => "fa-brands fa-snapchat",
            "Soundcloud" => "fa-brands fa-soundcloud",
            "Spotify" => "fa-brands fa-spotify",
            "StackExchange" => "fa-brands fa-stack-exchange",
            "StackOverflow" => "fa-brands fa-stack-overflow",
            "Steam" => "fa-brands fa-steam",
            "Stripe" => "fa-brands fa-stripe",
            "Threads" => "fa-brands fa-threads",
            "Tiktok" => "fa-brands fa-tiktok",
            "Tumblr" => "fa-brands fa-tumblr",
            "Twitch" => "fa-brands fa-twitch",
            "Twitter" => "fa-brands fa-x-twitter",
            "Upwork" => "fa-brands fa-upwork",
            "VK" => "fa-brands fa-vk",
            "Vimeo" => "fa-brands fa-vimeo-v",
            "WeChat" => "fa-brands fa-weixin",
            "Weibo" => "fa-brands fa-weibo",
            "WhatsApp" => "fa-brands fa-whatsapp",
            "Wordpress" => "fa-brands fa-wordpress",
            "Xbox" => "fa-regular fa-xbox",
            "Yelp" => "fa-brands fa-yelp",
            "YouTube" => "fa-brands fa-youtube",
            _ => "fa-regular fa-ellipsis"
        };

        var value = Contact.Value.Trim();

        if (Contact.ServiceName is "Phone")
        {
            value = Regex.Replace(value, @"\d{4}$", "****", RegexOptions.Compiled);
            Value = @<span class="contact-phone">@value</span>;
            Verified = @<i class="fa-regular fa-badge-check"></i>;
        }
        else if (Contact.ServiceName is "Email")
        {
            value = Regex.Replace(value, @"^[^@]+", "****", RegexOptions.Compiled);
            Value = @<span class="contact-email">@value</span>;
            Verified = @<i class="fa-regular fa-badge-check"></i>;
        }
        else
        {
            if (value.Contains("/"))
                value = Regex.Replace(value.TrimEnd('/'), ".*\\/", "");
            
            Verified = null;
            Value = Contact.Publicity switch
            {
                ContactPublicity.Private => @<span class="contact-private text-muted">Private</span>,
                ContactPublicity.Collaborators => @<span class="contact-collab text-muted">Available to collaborators</span>,
                ContactPublicity.Public => @<span class="contact-public">@value</span>,
            };
        }
    }

}