<div class="vertical-list">
    @foreach (var hustle in Hustles)
    {
        var id = hustle.HustleId.ToString("N");
        var url = SimilarHustleId.HasValue
            ? $"/search/{Role}/hustles/{SimilarHustleId}/similar/{hustle.HustleId}"
            : $"/search/{Role}/hustles/{hustle.HustleId}";
        if (!string.IsNullOrEmpty(Query))
            url += "?q=" + Uri.EscapeDataString(Query);
        <HustleCard Hustle="@hustle" Href="@url" id="@id"/>
    }
</div>

@code {
    [Parameter] public Hustle[] Hustles { get; set; } = [];
    [Parameter] public string Role { get; set; } = "sponsor";
    [Parameter] public string? Query { get; set; }
    [Parameter] public Guid? SimilarHustleId { get; set; }
}