<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="logo.png" class="img-inline" alt="Funtoh Logo" title="Funtoh Home"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Hustles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-tertiary" href="#" id="navbar-demo-items" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-demo-items">
                        <li>
                            <a class="dropdown-item text-tertiary" href="/hustles">All Hustles</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-tertiary" href="/profiles">All Profiles</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
